body {
	font-family: 'Lato', sans-serif;
}

a {
	color: white;
	transition: 0.4s;
}

a:hover {
	color: #16ADE3;
}

figcaption {
	margin-top: 10px;
}

.jumbotron {
	background: linear-gradient(
		rgba(0, 0, 0, 0.65), 
		rgba(0, 0, 0, 0.65)
	), url("../img/test3.jpg");
	/* background-image: url("../img/jumbotron.jpg"); */
	background-size: cover;
	color: #fff;
	height: 100vh;
	padding: 2rem 1rem;
	margin-bottom: 0;
}

#greeting {
	margin-top: 300px;
}

#about-me-container {
	background-image: url('../img/hiremetest.png');
	background-size: cover;
	background-position: bottom;
}

#about-me {
	height: 100vh;
}

#personal-projects {
	background: linear-gradient(
		rgba(0, 0, 0, 0.65), 
		rgba(0, 0, 0, 0.65)
	), url("../img/personalprojects.jpg");
	/* background-image: url("../img/personalprojects.jpg"); */
	background-size: cover;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.project {
	height: 325px;
	border-radius: 4px;
	background-color: #16ADE3;
	transition: 0.4s;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	opacity: 1;
	transition: .5s ease;
}

.project img {
	opacity: 0.5;
}

.project:hover {
	background-color: #45c0ed;
	cursor: pointer;
}

.text {
  color: #fff;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 1.6px;
  position: absolute;
  top: 50%;
	left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.white {
	color: #fff;
}

.blue {
	color: #16ADE3;
}

.btn-blue {
	background-color: #fff;
	border: 2px solid #16ADE3;
	color: #16ADE3;
}

.btn-blue:hover {
	background-color: #16ADE3;
	color: #fff;
}

#contact-btn {
	border-radius: 20px;
    text-align: center;
    padding: 20px 40px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
	background:rgba(0,0,0,0.8);
	z-index: 2;
  transition: 1s ease-in;
  overflow: hidden;
}

.show {
  height: 100%;
  transition: 1s ease-out;
}

.content {
	z-index: 3;
}

.fade-in {
	animation: fadeIn 1s ease-out;
}

.fade-out {
	animation: fadeOut 1s ease-out;
}

.overlay-img {
	height: auto;
	width: 700px
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}